
*{
    margin: 0px;
    padding: 0;
    font-family: 'VT323';
    
}



nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightskyblue;
}

.navbar-img{

width: 160px;
margin-left: 5vw;
background-color: lightskyblue;
}

.searchbar-container{
    background-color: lightskyblue;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;

}

.searchbar {


    margin-right: 20px;


}

.searchbar input {

 padding: 10px;
 box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
 border-radius: 3px;
 border: none;


}

.searchbar-btn button{

background-color: black;
border: none;
border-radius: 10px;
height: 44px;
color: white;
padding: 10px 12px;
}

.pokedex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightskyblue;

}

.pokedex-grid{

display: grid;
gap: 10px;
grid-template-columns: repeat(3, 1fr);
background-color: lightskyblue;
min-height: 100vh;

}

.pokemon-card{
    font-size: 22px;
    display: flex;
    box-shadow: 4px 4px rgba(0,0,0,0.25);
    border-radius: 3px;
    /* font-family: VT323; */
    background-color: white;
    max-height: 90px;
}

.pokemon-card:hover{
    position: relative;
    top: -10%;

}

.pokemon-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.pokemon-image-container {
    padding: 0px 5px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    flex: 1;
}

.card-top{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-top h3{

    text-transform: capitalize;

}

.card-bottom{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.pokemon-type  {

    display: flex;


}

.pokemon-type-text  {

 margin-right: 10px;
 text-transform: capitalize;


}

.pagination-container{

display: flex;
flex-direction: row;
align-items: center;



}

.pokemon-heart-btn{
border: none;
/* background-color: white; */

}
.pokemon-heart-btn:hover{
    cursor: pointer;
}

.not-found-div{
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
    min-height: 100vh;
    background-color: lightskyblue;
}

.button-left{

border: none;
background-color: lightskyblue;
}

.button-left:hover{
    cursor: pointer;
}

.button-right{
border: none;
background-color: lightskyblue;
}

.button-right:hover{
    cursor: pointer;
}

.div-pagination{
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

.loading-pokemon{
    min-height: 70vh;
    background-color: lightskyblue;
    text-align: center;

}